.scroller {
  max-width: 1300px;
  position: relative;
  overflow: visible;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: max-content;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.tag-list li {
  padding: 1.5rem;
  background: hsl(215, 25%, 27%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);
  position: relative;
  overflow: visible !important;
  transition: transform 0.2s;
}

.tag-list li:hover {
  transform: translateY(-4px);
}

/* Tooltip */
.tooltip {
  position: absolute;
  top: 100%; /* abajo */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  padding: 0.5rem 0.75rem;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 0.75rem;
  border-radius: 6px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;

  z-index: 9999;
}

.tag-list li:hover .tooltip {
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
}
