html::-webkit-scrollbar{
  width: 0.5rem;
  background: #000000;
  scrollbar-track-color: #ffffff;
}
html::-webkit-scrollbar-thumb{
  background: #ffffff;
  border-radius: 10px;
}
body{
    background: linear-gradient(200deg, #0B0C10, #1F2833, #5A4FCF);
    margin: 0;
    color: #C5C6C7;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App{
   display: flex;
    gap: 10px;
    flex-direction: column;
  }

